<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>

    {% load static %}

    <link rel="stylesheet" href="{% static 'style/todo.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">
            <span class="todo-logo">Todo</span>
        </div>
        <div class="navbar-right">
            {% if user.is_authenticated %}
            <span class="username">{{user.username}}</span>
            {%  endif %}
            <!-- Placeholder for username -->
            <button onclick="location.href='logout'">Logout</button>
        </div>
    </nav>
    <div class="todo-form-container">
        <form method="post" action="todo">
            {% csrf_token %}
            <input type="text" name="todo_name" placeholder="Todo Name" required>
            <input type="text" name="todo_description" placeholder="Todo Description" required>
            <button type="submit">Create</button>
        </form>
    </div>
    {%for todo in todos %}
    <div class="todo-list-container">
        <div class="todo-item">
            <div class="todo-info">
                <span class="todo-name">{{todo.name}}</span>
                <span class="todo-description">{{todo.description}}</span>
                <span class="todo-description">{{todo.status}}</span>
            </div>
            <div class="todo-actions">
                {% if todo.status != 'Completed'%}
                <button class="edit-btn"><a href="complete?id={{todo.id}}">Compelete</a></button>
                {%endif%}
                <button class="delete-btn"><a href="delete?id={{todo.id}}">Delete</a></button>
            </div>
        </div>

    </div>
{%endfor%}

</body>
</html>
